/** Style and colors generated for the julia theme. **/

:root {
  /* Font Size */
  --fg-primary: 12vh; /* Time and Greetings */
  --fg-secondary: 3vh; /* Greetings and Weather widger */
  --fg-date: 8vh; /* Date */
  --fg-list: 2vh; /* Links List */
  --icon: 3vh; /* Icon Size */

  /* Fonts Color */
  --fg: #e2e8f0; /* Foreground color */
  --sfg: #101210; /* Sceondary Foreground color */

  /* Light Colors  */
  --accent: #a87298; /* Hover color */
  --background: #101210; /* Background color */
  --cards: #1c211c; /* Cards color */

  /* Image background  */
  --imgbg: url(assets/background.jpg); /* Image URL */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */
  --accent: #a87298; /* Hover color */
  --background: #101210; /* Background color */
  --cards: #1c211c; /* Cards color */

  /* Fonts Color */
  --fg: #e2e8f0; /* Foreground color */
  --sfg: #101210; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}
